/*
  The Name:Georgia Mechanical
  Author: 
  Support: 
  Description: Georgia Mechanical
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/
/* ======================= default section start ====================== */
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&display=swap');

/* font  family  */
.font-oswald {
    font-family: "Oswald", serif;
}
.font-oxygen {
    font-family: "Oxygen", serif;
}
.font-oxygen {
    font-family: "news-gothic-std", serif;
}
@font-face {
    font-family: "news-gothic-std";
    src: url('../fonts/NewsGothicStd.woff2') format('woff2'),
        url('../fonts/NewsGothicStd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "news-gothic-std";
    src: url('../fonts/NewsGothicStd-Bold.woff2') format('woff2'),
        url('../fonts/NewsGothicStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    color: #fff;
    font-family: "Oxygen", serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
}

.container, .row{
    --bs-gutter-x: 20px;
}
/* lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

/* lenis */

/* scroll bar */
.os-scrollbar-handle {
    background: #C1132A;
}
body>.os-scrollbar {
    z-index: 999;
}
/* scroll bar */

img {
    max-width: 100%;
    height: auto;
}
/* animation */
.animation-line{
    overflow: hidden;
}
/* animation */

/* paralax img */
.trigger-parallax {
    overflow: hidden;
    position: relative;
}

.parallax-img {
    height: calc(100% + 120px);
    width: 100%;
    object-fit: cover;
    transform: translateY(0);
}

/* paralax img */
a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-fix {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* z-index */
.z-4 {
    z-index: 4 !important;
}

/* z-index */

/* container */
.container{
    max-width: 1220px;
}

/* input */
input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="number"], 
input[type="password"], 
input[type="url"], 
textarea {
    width: 100%;
    padding: 9.52px 12px;
    border: 0;
    background-color: #fff;
    border-bottom: 1px solid #e9e9f8;
    color: #919197;
    font-family: "Oxygen", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    opacity: 1;
    display: block;
}
textarea{
	height: 104px;
}
input:focus , textarea:focus{
	outline: none;
	box-shadow: none;
    border-color: var(--bright-green);
}
/* input */
:root {
    --navy: #003761;
    --royal: #084c99;
    --bright-green: #6de591;
    --dark-grey-paragraph: #627d82;
    --ghost-white-section-2: #fafaff;
    --ghost-white-section: #f6f6ff;
    --white: white;
    --dark-green: #017555;
  }


.animation-line p:last-child,
.mb-p p:last-child{
    margin-bottom: 0;
}

/* heading  style*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--royal);
    font-weight: 700;
    line-height: 1.125;
    font-family: "news-gothic-std" , serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}




/* font color */
.f-navy-color{
    color: var(--navy) !important;
}  

/* preloader */
.preloader {
    z-index: 2147483647;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-grey-paragraph);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.8s ease, opacity 0.8s linear;
}
.preloader.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
.preloader img {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.8s ease, transform 0.8s linear;
    max-width: 100px;
  }


/* preloader */
/* all button */
.button-wrapper {
    background-color: var(--dark-green);
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px #e2e2e2;
    border-radius: 100px;
    padding: 16px 30px;
    font-size: 13px;
}
.button-wrapper.version-2{
    background-color: transparent;
    padding: 0;
}
.text-wrapper {
    height: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    line-height: 20px;
}
.button-text {
    transform-origin: 50% 100%;
    color: var(--white);
    letter-spacing: 3px;
    font-family: "news-gothic-std" , serif;
    font-weight: 700;
    display: block;
    position: relative;
}
.button-text-second {
    letter-spacing: 3px;
    font-family: "news-gothic-std" , serif;
    font-weight: 700;
}
.button-text.gray {
    color: var(--royal);
    font-size: 11px;
    white-space: nowrap;
    width: 100%;
}
.button-text-second.gray {
    color: var(--dark-grey-paragraph);
    font-size: 11px;
    white-space: nowrap;
    width: 100%;
}
.right-button-arrow {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
    margin-left: 15px;
    max-width: 20px;
    height: 20px;
}
.button-text-second ,
.button-text {
    transition: transform 0s ease;
}
.button-wrapper:hover .button-text,
.button-wrapper:hover .button-text-second{
    transform: translateY(-20px);
    transition: transform 0.4s ease;
}
.button {
    height: auto;
    background-color: var(--dark-green);
    color: #fff;
    text-align: center;
    border-radius: 0;
    padding: 9.5px 16px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 10px 20px -3px rgba(29, 1, 80, 0);
    transition: all 0.3s linear;
    display: inline-block;
    font-family: "Oswald", serif;
}
.button.outline {
    border: 2px solid var(--ghost-white-section);
    color: var(--dark-green);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: 9.5px 16px;
    font-family: news-gothic-std, sans-serif;
    font-weight: 700;
}
.button:hover {
    background-color: var(--royal);
    box-shadow: none;
}
.button.outline:hover {
    background-color: var(--ghost-white-section);
    opacity: 1;
    color: var(--navy);
    box-shadow: none;
}

/* swiper */
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
}
.testimonial-slider-area{
    padding-bottom: 25px;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 1);
    opacity: 0.4;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
}
/* swiper */

/* ======================= default section end ====================== */
/* ======================= header section start ====================== */
.logo-wrapper-img img{
    width: 50px;
}
.logo-wrapper-img {
    color: #111;
    text-decoration: none;
    display: flex;
}
.ecker-text {
    color: var(--navy);
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
    padding-left: 8px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}
.navigation-divider {
    width: 1px;
    height: 30px;
    background-color: var(--navy);
    margin-left: 18px;
    margin-right: 25px;
    transform: skew(-15deg);
}
.hamburger-menu {
    width: 50px;
    height: 50px;
    color: var(--navy);
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.line-first {
    width: 22px;
    height: 2px;
    background-color: var(--navy);
    color: var(--navy);
    border-radius: 5px;
    position: absolute;
}
.line-first.top {
    background-color: var(--navy);
    margin-top: -12px;
}
.line-first.bottom {
    background-color: var(--navy);
    color: var(--navy);
    margin-top: 12px;
}
.header-logo-wrapper {
    align-items: center;
    display: flex;
    padding: 20px 25px;
    transition: all 0.3s linear;
}
.header-area {
    z-index: 100;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
/* ======================= header section end ====================== */

/* ======================= banner section start ====================== */
.banner-area {
    min-height: 92vh;
    background-color: var(--dark-grey-paragraph);
    background-image: linear-gradient(rgba(98, 125, 130, .9), rgba(98, 125, 130, .9)), url("../images/banner/banner-bg.jpeg");
    background-attachment: scroll, fixed;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    padding-top: 150px;
}
.banner-content {
    margin-top: -117px;
    padding-right: 50px;
}

.banner-content h1{
    margin-bottom: 43px;
}
.banner-content  p {
    line-height: 1.667;
}
.big-square-banner {
    z-index: 1;
    width: 800px;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--navy), rgba(255, 255, 255, 0));
    object-fit: contain;
    object-position: 0% 50%;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 1%;
    overflow: hidden;
    transform: skew(-40deg);
}
.banner-content .button-wrapper {
    margin-top: 4px;
}
.top-banner-title {
    color: var(--white);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 41px;
    line-height: 1.29;
}
.video-item {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    background-color: #141414;
}
.video-info{
    height: 500px;
    color: #fff;
    position: relative;
    overflow: hidden;
    width: 92%;
    min-height: 72vh;
}
.video-play-icon {
    border: 0;
    background: transparent;
    position: absolute;
    bottom: 1em;
    right: 1em;
}
.scroll-down {
    color: var(--dark-grey-paragraph);
    letter-spacing: 3px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 75px;
    left: auto;
    right: -50px;
    transform: rotate(90deg);
}
.scroll-down span {
    color: var(--white);
    font-family: "news-gothic-std" , serif;
    font-weight: 700;
}
/* sub banner */
.sub-banner {
    min-height: 500px;
    opacity: 1;
    background-image: linear-gradient(rgba(98, 125, 130, .9), rgba(98, 125, 130, .9)), url("../images/banner/sub-banner.jpg");
    background-position: 0 0, 50% 100%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    position: relative;
}
.sub-banner-content p {
    font-size: 17px;
    line-height: 1.47;
}
.sub-banner-content h1 {
    margin-bottom: 20px;
}
.bottom-navigation {
    z-index: 4;
    width: 60%;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 25px;
    right: auto;
}
.overlay-botton-line {
    width: 100%;
    height: 100%;
    background-color: var(--royal);
    position: absolute;
    transform: skew(-20deg);
}
.bottom-content {
    z-index: 5;
    color: #fff;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    font-family: "news-gothic-std", serif;
    font-weight: 400;
    display: flex;
    position: relative;
}
.bottom-icon {
    max-width: 30px;
    margin-right: 15px;
}
.bottom-content-link {
    color: #fff;
    font-family: "news-gothic-std", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    display: block;
    transition: all 0.3s linear;
}
.bottom-content-link:hover{
    opacity: 0.7;
}
/* ======================= banner section end ====================== */

/* ======================= home industries section start ====================== */
.section-padding{
    padding: 140px  0 75px;
}
.home-industries {
    background-color: var(--dark-grey-paragraph);
    padding-bottom: 110px;
}
.home-industries-content h2 {
    font-size: 26px;
    line-height: 1.30;
    color: var(--white);
    margin-bottom: 60px;
}

.promise-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    margin-left: 10px;
    padding-right: 40px;
    display: flex;
    flex: 1 0 calc(50% - 10px);
}
.promise-text-wrapper {
    min-height: 60px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
}
.promise-title {
    z-index: 1;
    color: var(--navy);
    font-size: 14px;
    position: relative;
}
.promise-title.light {
    color: var(--white);
}
.number-absolute {
    color: var(--royal);
    font-size: 80px;
    line-height: 0.75;
    position: absolute;
    top: -5px;
    bottom: auto;
    left: 0%;
    right: auto;
    font-family: "Oswald", serif;
    font-weight: 500;
}

.promise-content.content-info h4 {
    margin-bottom: 20px;
}
.green-line-big {
    min-height: 600px;
    min-width: 100vh;
    float: left;
    border: 6px solid var(--ghost-white-section);
    background-color: rgba(0, 0, 0, 0);
    transform: skew(-20deg);
}

.promise-image {
    max-width: 520px;
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 25%;
    right: auto;
    transform: translate(0, -50%);
}
.promise-content {
    margin-bottom: 20px;
}
.promise-content.content-info{
    max-width: 540px;
}
.home-industries-content {
    margin-top: 13px;
}
.home-industries-image {
    padding-left: 102px;
    height: 100%;
}
/* market */
.section-title {
    color: var(--white);
    font-size: 30px;
    line-height: 1.33;
}
.our-market {
    margin-top: 140px;
}
.service-square {
    width: 80%;
    min-height: 280px;
    border: 4px solid var(--ghost-white-section);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: skew(-15deg);
}
.services-image {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 0%;
    right: auto;
    transform: translate(0, -50%);
}
.service-content-info {
    margin-top: 55px;
    padding: 0 35px;
}
.service-content-info .promise-title {
    margin-bottom: 18px;
}
.service-content-info p {
    margin-bottom: 0;
}
.service-content-info .button-wrapper {
    margin-top: 24px;
}
.our-market {
    max-width: 1162px;
}
.our-market .row {
    --bs-gutter-x: 40px;
    --bs-gutter-y: 40px;
}
.our-market .section-title {
    margin-bottom: 104px;
}
/* ======================= home industries section end ====================== */

/* ======================= trusted section start ====================== */
.trusted-area{
    padding: 80px 0;
    padding-right: 20px;
    padding-left: 20px;
}
.trusted-area.version-2 {
    padding: 137px 0 30px;
}
.trusted-area.version-2 .section-title{
    font-size: 14px;
    color: var(--royal);
    line-height: 1.42;
}
.tp-brand-bottom .swiper-wrapper ,
.tp-brand-top .swiper-wrapper {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    align-items: center;
}
.tp-brand-bottom .swiper-slide ,
.tp-brand-top .swiper-slide {
    width: auto;
}
.logo-img-wrapper,
.tp-brand-img {
    opacity: .7;
    transition: all 0.3s linear;
}
.logo-img-wrapper img,
.tp-brand-img img {
    max-width: 140px;
    width: 100%;
}
.logo-img-wrapper:hover,
.tp-brand-img:hover {
    opacity: 1;
}
.trusted-area .container {
    max-width: 1552px;
}
.trusted-area  .section-title {
    margin-bottom: 34px;
}
.logo-wrapper,
.tp-brand-area {
    margin-bottom: 25px;
    filter: grayscale();
}
.logo-wrapper:last-child ,
.tp-brand-area:last-child {
    margin-bottom: 0;
}
.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
/* ======================= trusted section end ====================== */

/* ======================= testimonial section start ====================== */
.testimonial-area {
    background-color: var(--dark-green);
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    padding-top: 200px;
    padding-bottom: 115px;
}
.half-section {
    width: 55%;
    background-color: var(--navy);
    top: 0;
    bottom: 0;
    right: 0;
    transform: skew(-20deg);
    position: absolute;
    height: 100%;
}
.testi-wrapper {
    text-align: center;
    background-color: #fff;
    padding: 45px 35px;
    display: block;
    box-shadow: 0 20px 50px -20px rgba(0, 0, 0, .05);
    max-width: 368px;
}
.top-margin.in-team, .top-margin.in-sub-banner {
    margin-top: 20px;
}
.in-team p {
    color: var(--navy);
    margin-bottom: 10px;
}
.team-title.smaller {
    font-size: 14px;
    color: var(--navy);
    line-height: 1.3;
    margin-bottom: 10px;
}
.team-sub-title {
    color: var(--dark-grey-paragraph);
    letter-spacing: 2px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400;
}
.sub-title {
    letter-spacing: 1px;
    margin-bottom: 8px;
    font-family: "news-gothic-std" , serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.429;
    display: inline-block;
}
.testi-wrapper-info{
    gap: 28px;
}
.testimonial-left-info {
    margin-top: -80px;
}
.testimonial-left-info .section-title {
    margin-bottom: 15px;
}
/* ======================= testimonial section end ====================== */


/* ======================= footer section start ====================== */
.footer {
    padding: 80px 30px 20px;
}
.footer-logo-wrapper img {
    width: 150px;
    margin-top: 3px;
}
.footer-title {
    font-size: 14px;
    color: var(--navy);
    letter-spacing: 2px;
}
.footer-link-wrapper {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    list-style: none;
}
.footer-content-wrapper address a ,
.footer-content-wrapper li a{
    color: var(--navy);
    transition: all 0.3s linear;
}
.footer-content-wrapper address a:hover ,
.footer-content-wrapper li a:hover{
    color: var(--royal);
}
.footer-content-wrapper address{
    margin-bottom: 25px;
}
.footer-content-wrapper address a{
    font-family: "Oxygen", serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
}
.copyright-wrapper {
    margin-top: 70px;
    border-top: 1px solid var(--ghost-white-section);
    padding-top: 20px;
}
.left-copyright-flex a {
    margin-top: 0;
    margin-left: 10px;
    color: #919197;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "news-gothic-std" , serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.67;
}
.social-link {
    width: 40px;
    height: 40px;
    background-color: #f5f5f7;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    display: flex;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.social-link::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark-grey-paragraph);
    transform: scale(0);
    z-index: -1;
    border-radius: 100%;
    transition: all 0.3s linear;
}
.social-link:hover::before{
    transform: scale(1);
}
.social-link img {
    max-width: 14px;
    transition: all 0.3s linear;
}
.social-link:hover img {
    max-width: 14px;
    filter: brightness(0) invert(1);
}
/* ======================= footer section end ====================== */


/* ======================= header popup section start ====================== */
.left-part {
    z-index: 3;
    width: 50%;
    height: 100%;
    background-color: var(--ghost-white-section);
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.header-popup-area{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: var(--ghost-white-section);
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    transition: all 0.5s ease;

}
.header-popup-area.active{
    opacity: 1;
    visibility: visible;
}
.navigation-wrapper {
    min-width: 350px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    position: static;
    left: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation-wrapper li{
    margin-bottom: 20px;
}
.navigation-wrapper li:last-child{
    margin-bottom: 0;
}
.navigation-wrapper li a {
    color: var(--navy);
    text-transform: uppercase;
    margin-top: 0;
    padding: 5px 18px;
    font-family: "news-gothic-std" , serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: all 0.3s linear 0.1S;
}
.navigation-wrapper li:hover a{
    color: var(--ghost-white-section);
    transition: all 0.3s linear 0.2S;
}
.navigation-wrapper li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 30px;
    width: 3px;
    background-color: var(--dark-green);
    transform: translateY(-50%) skewX(-15deg);
    z-index: -1;
    transition: width 0.3s ease, height 0.3s ease  0.3s;
}
.navigation-wrapper li a:hover:before {
    width: 100%;
    height: 55px;
    transition: width 0.3s ease 0.3s, height 0.3s ease;
}
.left-part .social-wrapper {
    margin-top: 35px;
}
.right-part {
    z-index: 3;
    width: 0%;
    height: 100%;
    float: right;
    background-color: var(--white);
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.quote-wrapper {
    min-width: 450px;
}
.top-title-text {
    font-size: 26px;
    line-height: 1.30;
}
.top-title-text.bigger {
    font-size: 30px;
    line-height: 1.33;
}
.top-title-text.bigger.dark {
    color: var(--navy);
}
.contact-info {
    margin-bottom: 10px;
}
.contact-info label {
    color: var(--dark-grey-paragraph);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "news-gothic-std" , serif;
    font-size: 11px;
    font-weight: 700;
    display: block;
    margin-bottom: 6px;
    line-height: 1.82;
}
.contact-area .contact-wrapper {
    padding: 20px 0 17px;
}
.application-contact-area .contact-wrapper {
    padding: 0;
}
.quote-wrapper h2{
    color: var(--navy);
}
.button-wrapper.submit-btn {
    width: 100%;
    justify-content: center;
    margin-top: 5px;
    font-family: "news-gothic-std" , serif;
    font-weight: 700;
}
.header-poup-inner{
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.5s ease;
}
.header-popup-area.active .header-poup-inner{
    transform: translateY(0px);
    opacity: 1;
}
.right-part  .header-poup-inner{
    transition-delay: 0.2s;
}
.header-close-btn {
    position: absolute;
    right: 50px;
    background: #f5f5f7;
    height: 50px;
    width: 50px;
    z-index: 4;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 100%;
    color: var(--dark-green);
    transition: all 0.3s linear;
    border: 0;
}
.header-close-btn:hover{
    background: var(--dark-green);
    color: var(--white);
}
/* ======================= header popup section end ====================== */

/* ======================= budgeting section start ====================== */
.budgeting-area {
    padding-left: 20px;
    padding-right: 20px;
}
.Rewarding-item {
    padding: 50px 0;
}
.services-image {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 0%;
    right: auto;
    transform: translate(0, -50%);
}
.service-square.bigger {
    min-height: 500px;
}
.budgeting-content p,
.service-title{
    color: var(--navy);
}
.budgeting-content h3 {
    margin-bottom: 44px;
}
.budgeting-content {
    padding-left: 50px;
    max-width: 490px;
}
.row-reverse .row{
    flex-direction: row-reverse;
}
.budgeting-item.row-reverse .budgeting-content{
    padding-left: 0;
    padding-right: 50px;
}
.budgeting-item {
    margin-bottom: 140px;
}
.budgeting-item:last-child{
    margin-bottom: 0;
}
.Rewarding-item .button-wrapper {
    margin-top: 41px;
}
/* ======================= budgeting section end ====================== */

/* ======================= our market section start ====================== */
.sub-banner.projects, .sub-banner.markets {
    min-height: 350px;
}
.body{
    background-color: var(--ghost-white-section-2);
}
.our-market-area {
    padding: 167px 0 100px;
}
.our-market-area .row {
    --bs-gutter-x: 41px;
    --bs-gutter-y:24px;
}
.our-market-area .service-content-info p{
    color: var(--navy);
}
.our-market-area .service-content-info .button-wrapper {
    margin-top: 12px;
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
}
.our-market-item{
    max-width: 1162px;
    margin-right: auto;
    margin-left: auto;
}

/* ======================= our market section end ====================== */

/* ======================= healthcare project section start ====================== */
.healthcare-project-area {
    padding-top: 50px;
}
.healthcare-project-area .row{
    --bs-gutter-x:16px;
    --bs-gutter-y:16px;
}
.healthcare-img{
    object-fit: cover;
    min-height: 300px;
    width: 100%;
    display: block;
}
.healthcare-project-content {
    background-color: var(--navy);
    padding: 30px 20px 61px;
}
.healthcare-project-content h4 {
    color: #fff;
    margin-bottom: 26px;
    line-height: 1.33;
}
.Rewarding-item p {
    color: var(--navy);
    margin-bottom: 0;
    font-size: 17px;
}
/* ======================= healthcare project section end ====================== */

/* ======================= single healthcare project section end ====================== */
.single-healthcare-area {
    padding: 140px 20px 83px;
}
.single-healthcare-img-wrapper img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    display: block;
}
.white-color {
    border-right: 1px solid var(--ghost-white-section);
    text-align: right;
    background-color: #fff;
    padding: 12.7px 15px;
}
.project-square-title {
    color: var(--dark-green);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
}
.white-color.second-color {
    text-align: left;
    border-right-style: none;
}
.single-healthcare-content-info .row {
    --bs-gutter-x: 0;
}
.white-color.grayer {
    background-color: var(--ghost-white-section-2);
}
.single-healthcare-content-info > div{
    flex: 1 0 50%;
}
.gallery {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 60px;
}
.gallery > a {
    display: block;
    flex: 1 0 calc(25% - 20px);
    height: 250px;
}
.gallery > a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    border: 0;
    border-radius: 0;
}
.fancybox__thumb {
    border-radius: 0;
}
.fancybox__thumbs .carousel__slide{
    transition: all 0.3s linear;
}
.carousel__slide.has-thumb.has-image.is-selected.is-nav-selected {
    opacity: 0.3;
}
.carousel__button{
    opacity: 0.8;
}
.carousel__button:hover{
    opacity: 1;
}
.single-bottom-btn .button-wrapper {
    margin-top: 15px;
    padding: 16px 47px;
}
.single-healthcare-area .single-bottom-btn .button-wrapper {
    padding: 16px 33px;
}
.single-healthcare-content-info {
    margin-top: 44px;
    box-shadow: 0 20px 50px -20px rgba(0, 0, 0, .05);
}
/* ======================= single healthcare project section end ====================== */

/* ======================= related projects section start ====================== */
.related-projects-area{
    padding-bottom: 75px;
    padding-left: 20px;
    padding-right: 20px;
}
.related-projects-card {
    background-color: var(--navy);
    padding: 20px;
    gap: 10px;
}
.related-projects-card > div{
    flex: 1 0 50%;
}
.related-projects-card-info {
    padding-top: 10px;
}
.related-projects-area h2 {
    color: var(--navy);
    font-size: 38px;
    line-height: 1.15;
}
.related-projects-card-info h4 {
    color: #fff;
}
.related-projects-card-info .button-wrapper {
    margin-top: 20px;
}
.healthcare-project-content .right-button-arrow ,
.related-projects-card-info .right-button-arrow {
    margin-left: 0;
}
.related-projects-item {
    margin-top: 53px;
}
/* ======================= related projects section end====================== */

/* ======================= project manager section start ====================== */
.section-title-wrapper  {
    padding: 159px 0 70px;
}
.section-title-wrapper  h2 {
    color: var(--navy);
    font-size: 38px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 36px;
}
.project-manager-area .section-title-wrapper  h2 {
    margin-bottom: 60px;
}
.project-manager-area .section-title-wrapper {
    padding-bottom: 87px;
}
.section-title-wrapper p{
    color: var(--navy);
}
.accordion-item {
    color: var(--navy);
    background-color: #f4f6f8;
    border: 0;
    margin-bottom: 14px;
    border-radius: 4px;
}
.accordion-item:last-child{
    margin-bottom: 0;
}
.accordion-item:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
}
.accordion-header {
    background-color: var(--navy);
    color: #fff;
    padding-top: 23.5px;
    padding-bottom: 23.5px;
    padding-right: 50px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s linear;
}
.faq-icon {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    right: 16px;
    width: 24px;
    transition: transform 0.3s ease;
}
.about-our-history .accordion-body ,
.taylor-our-history .accordion-body {
    padding: 30px;
}
.taylor-our-history .accordion-body {
    padding-bottom: 36.4px;
}
.history-accordion-inner-wrapper .promise-content{
    max-width: 1090px;
}
.accordion-header .top-title-text{
    color: #fff;
    margin-bottom: 0;
}
.history-accordion-inner-wrapper{
    gap: 16px;
} 
.about-our-history .history-accordion-inner-wrapper {
    padding: 20px;
    padding-bottom: 33px;
}
.taylor-our-history .history-accordion-inner-wrapper-content {
    margin-left: 10px;
}
.history-accordion-inner-wrapper-content h2{
    color: var(--navy);
}
.about-our-history .history-accordion-inner-wrapper img {
    max-width: 335px;
    margin-left: 104px;
    display: block;
}
.history-accordion-inner-wrapper > div{
    flex: 1 0 calc(50% - 16px);
}
.history-accordion-inner-wrapper .promise-wrapper, .history-accordion-inner-wrapper .promise-content {
    margin: 0;
    padding: 0;
}

.about-our-history .history-accordion-inner-wrapper .promise-content {
    margin-top: 85px;
    max-width: 492px;
    margin-left: 10px;
}

.history-accordion-inner-wrapper .promise-text-wrapper {
    min-height: auto;
    margin-bottom: 12px;
}
.accordion-header[aria-expanded="true"] .faq-icon {
    transform: rotate(45deg);
    transform-origin:center;
    transition: transform 0.3s ease;
}
.accordion-header[aria-expanded="true"]{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.taylor-our-history .history-accordion-inner-wrapper {
    padding-top: 16px;
    flex-direction: row-reverse;
}
.taylor-our-history .promise-content {
    margin-bottom: 0;
    margin-top: 23px;
    max-width: 510px;
}
.accordion-body {
    padding: 55px 42px 79px;
}
.project-manager-area {
    padding-left: 20px;
    padding-right: 20px;
}
/* ======================= project manager section end ====================== */

/* ======================= meet the owner section start ====================== */
.meet-the-owner {
    padding: 40px 20px 178px;
}
.meet-the-owner h2 {
    line-height: 1.53;
    color: var(--navy);
}
.team-title {
    font-size: 16px;
    margin-bottom: 12px;
    color: var(--navy);
}
.team-sub-title {
    color: var(--dark-grey-paragraph);
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
}
.meet-owner-content-wrapper-inner-info {
    max-width: 562px;
    margin-top: 12px;
}
.meet-owner-content-wrapper-inner-info p{
    color: var(--navy);
    margin-bottom: 24px;
}
.owner-img-wrapper img {
    display: block;
    max-width: 319px;
    margin-right: auto;
    margin-left: auto;
}
.meet-the-owner-item {
    max-width: 1144px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
}
.meet-the-owner-item .row {
    --bs-gutter-x: 15px;
}
/* ======================= meet the owner section end ====================== */

/* ======================= fun fact section start ====================== */
.fun-fact-area{
    background-color: var(--dark-grey-paragraph);
    padding-top: 70px;
    padding-bottom: 70px;
}
.fun-title {
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.1;
}
.fun-fact-subtitle {
    color: #fff;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}
.fun-icon {
    margin-bottom: 15px;
}

/* ======================= fun fact section end ====================== */

/* ======================= fun fact section end ====================== */
.contact-area{
    padding: 160px 40px 95px;
}
.contact-area .container{
    max-width: 1920px;
}
.required {
    color: var(--royal);
}
.subcontractors-wrapper {
    background-color: var(--ghost-white-section);
    padding: 21px 40px;
    height: 100%;
}
.subcontractors-wrapper h4 {
    margin-bottom: 12px;
}
.contact-wrapper h2,
.subcontractors-wrapper h4 ,
.subcontractors-wrapper h3 {
    color: var(--navy);
}   
.contact-area .col:nth-child(1) {
    max-width: 1038px;
    flex-basis: 100%;
}
.contact-wrapper h2{
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.25;
}
.subcontractors-wrapper h3{
    margin-bottom: 22px;
}
.subcontractors-wrapper blockquote {
    color: var(--navy);
    margin-bottom: 0;
}
.subcontractors-button-wrapper{
    margin-top: 10px;
}
.subcontractors-button-wrapper .button-wrapper:last-child{
    margin-top: 30px;
}
/* ======================= fun fact section end ====================== */

/* ======================= contact section start ====================== */
.current-job-area {
    background-color: var(--ghost-white-section);
    padding: 70px 5% 50px;
}
.current-job-area h2{
    color: var(--navy);
}
.current-job-area .container{
    max-width: 1020px;
}
.job-list-wrapper {
    margin-top: 35px;
    margin-bottom: 40px;
}
.job-card {
    background-color: var(--white);
    border-bottom: 1px solid #e7e7e9;
    padding: 28.5px 30px;
    gap: 20px;
}
.job-card h4 {
    font-size: 22px;
}
.job-card > div{
    flex: 1 0 calc(50% - 20px);
}


/* ======================= contact section end ====================== */

/* ======================= gallery slider section start ====================== */
.swiper-gallery-wrapper-info img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.gallery-slider-info  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
}
.gallery-slider-info  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.gallery-slider-info  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,3px);
}
.gallery-slider-info .swiper-button-next, 
.gallery-slider-info .swiper-button-prev {
    color: #fff;
}
.gallery-slider-info .swiper-button-prev, 
.gallery-slider-info .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,30px);
}
.gallery-slider-info .swiper-button-next, 
.gallery-slider-info .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,30px);
    left: auto;
}
.gallery-slider-info  .swiper-horizontal>.swiper-pagination-bullets, 
.gallery-slider-info  .swiper-pagination-bullets.swiper-pagination-horizontal, 
.gallery-slider-info  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
}
/* ======================= gallery slider section end ====================== */

/* ======================= employee benefits & perks section start ====================== */
.employee-benefits-area {
    padding: 75px 0 60px;
}
.employee-benefits-area .container {
    max-width: 1406px;
}
.employee-benefits-content{
    margin-top: 40px;
}
.employee-benefits-content h2 {
    color: var(--navy);
}
.employee-benefits-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 24px;
    padding-top: 12px;
}
.employee-benefits-content ul li {
    color: var(--navy);
    position: relative;
    z-index: 1;
    padding-left: 18px;
    margin-bottom: 10px;
}
.employee-benefits-content ul li:last-child{
    margin-bottom: 0;
}
.employee-benefits-content ul li:last-child{
    margin-bottom: 0;
}
.employee-benefits-content ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    height: 5px;
    width: 5px;
    background-color: var(--dark-green);
    z-index: 1;
    border-radius: 100%;
}
.employee-benefits-img img {
    display: block;
    object-fit: cover;
    width: 455px;
    height: 376px;
    margin-right: 0;
    margin-left: auto;
}
/* ======================= employee benefits & perks section end ====================== */

/* ======================= our team  section start ====================== */
.our-team-area{
    padding: 0 50px;
}
.our-team-card{
    color: var(--navy);
    box-shadow: 0 7px 15px 3px rgba(175, 177, 179, .3);
    border-radius: 8px;
    min-height: 328px;
    padding: 27px;
}
.our-team-area .container {
    max-width: 1750px;
}
.our-team-card-wrapper  .row {
    --bs-gutter-x: 60px;
}

.our-team-card blockquote{
    margin-bottom: 0px;
    font-weight: 700;
}
.author-information h6 {
    color: var(--navy);
    font-family: "Oxygen", serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: normal;
    text-transform: capitalize;
    margin-bottom: 4px;
}
.author-information p {
    font-weight: 400;
}
.our-team-area h2 {
    color: var(--navy);
    font-size: 38px;
    line-height: 1.15;
    background: #fff;
    padding: 10px 0;
    width: calc(100% + 100px);
    margin-left: -50px;
}

.swiper.our-team-slider.swiper-initialized.swiper-vertical.swiper-backface-hidden {
    height: 660px;
    overflow: inherit;
}
.our-team-slider .swiper-wrapper{
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.our-team-slider .swiper-slide{
    height: auto;
}
.our-team-area::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 70%, #fff), linear-gradient(#fff, rgba(255, 255, 255, 0) 30%);
    z-index: 2;
}
/* ======================= our team  section end ====================== */

/* ======================= single job post section start ====================== */
.single-job-area {
    padding: 37px 5% 40px;
    background-color: var(--ghost-white-section);
}
.single-job-area .container {
    max-width: 1020px;
}
.single-job-wrapper .row {
    --bs-gutter-x:0px;
}
.single-job-wrapper {
    margin-top: 53px;
}
.single-job-wrapper .col:nth-child(2){
    max-width: 239px;
}
.all-jobs{
    gap: 10px;
}
.embed-icon {
    color: var(--navy);
    transition: all 0.3s linear;
}
.job-link {
    color: var(--navy);
    font-weight: 600;
    font-family: "news-gothic-std", serif;
    font-size: 16px;
    line-height: 1.5;
    opacity: .9;
}
.all-jobs:hover .embed-icon{
    transform: translateX(-10px);
}
.job-title-info {
    color: var(--dark-green);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
}

.job-left-content {
    max-width: 686px;
    margin-top: 25px;
}
.job-description-content {
    margin-top: 57px;
}

.job-description-content-item {
    color: var(--navy);
    margin-bottom: 48px;
}
.job-description-content-item  h3 {
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 0;
}
.job-description-content-item ul {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    list-style: none;
    padding-left: 24px;
}
.job-description-content-item ul li {
    padding-left: 18px;
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
}
.job-description-content-item ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    height: 5px;
    width: 5px;
    background-color: var(--navy);
    border-radius: 100%;
    z-index: 1;
}
.job-description-content-item  p {
    margin-bottom: 10px;
}
.job-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    max-width: 239px;
}
.job-sticky-card {
    background-color: var(--white);
    border: 2px solid #fafafa;
    border-radius: 15px;
    flex-direction: column;
    padding: 20px;
    display: flex;
}
.job-square {
    width: auto;
    height: auto;
    color: #fff;
    background-color: #fff;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.job-sticky-card h4 {
    font-size: 22px;
    text-transform: none;
    letter-spacing: normal;
    margin-top: 15px;
    margin-bottom: 14px;
}
.job-sticky-card p{
    opacity: .9;
    color: var(--navy);
    font-family: "news-gothic-std", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}
/* ======================= single job post section end ====================== */

/* ======================= application contact section start ====================== */
.application-contact-area .container {
    max-width: 920px;
}
.application-contact-area .contact-wrapper h2 {
    color: var(--navy);
    font-size: 38px;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 10px;
}
.contact-wrapper .all-jobs {
    margin-top: 18px;
}

/* ======================= application contact section end ====================== */



/* cursor start */
.custom-cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 99999999;
}  
/* cursor hide */
.swiper-pagination-clickable .swiper-pagination-bullet ,
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled),
body, button, a, input, textarea {
    cursor: none;
}
/* cursor end */